@model LightpointTask.Models.ShopViewModel

@{
    ViewBag.Title = "DeleteShop";
}

<h2>Delete Shop</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />

    @using (Html.BeginForm("DeleteShop", "Shop", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
